Checks: '-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,google-*,misc-*,-misc-unused-parameters,-misc-non-private-member-variables-in-classes,modernize-*,performance-*,portability-*,readability-*'
